@font-face {
    font-family: 'Chaney';
    src: url('../src/styles/chaney-ultraextended-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.sans-title-bold{
    font-family: 'Noto Sans KR';
    font-size: 24px;
    font-weight: 800;
}

.sans-title{
    font-family: 'Noto Sans KR';
    font-size: 24px;
}

.sans-sub-title{
    font-family: 'Noto Sans KR';
    font-size: 16px;
}

.sans-body{
    font-family: 'Noto Sans KR';
    font-size: 13px;
}

.chaney-title{
    font-family: 'Chaney';
    font-size: 24px;
}

.chaney-sub-title{
    font-family: 'Chaney';
    font-size: 16px;
}

.chaney-body{
    font-family: 'Chaney';
    font-size: 12px;
}
